@import "tailwindcss";

.swal2-icon.big-success-icon {
    /* Adjust these values to change the size */
    width: 3em !important;   /* Increase the overall diameter of the circle */
    height: 3em !important;  /* Increase the overall diameter of the circle */
    font-size: 1em !important; /* Increase the size of the checkmark/cross inside the circle */
}

